.container{
    display: flex;
}

.formArea{
    margin-top: 30px;
    flex: 0.6;
}

.listagemArea{
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    flex: 0.6;
}

#btnAdicionar{
    margin-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: blue;
  }

.menuLateral{
    flex: 0.2;
    max-height: 85px;
    margin-top: 30px;
    margin-right: 40px;
    border: 1px solid;
}

.hide{
    display: none;
}

.obrigatoriedade{
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnArea{
    margin-top: 10px;
}

.btnCenter{
    display: flex;
    justify-content: center;
}